@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
p,
h1,
h2,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: .8em;
    margin: 0;
    line-height: 1.3em;
    font-weight: 300;
}

a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

/* element styles */
#container {
    width: 700px;
    margin: 40px auto;
    position: relative;
}

header h1 {
    text-transform: lowercase;
    font-size: 4.4em;
    font-weight: 900;
    font-family: "Anybody", sans-serif;
    top: 18px;
    position: absolute;
    left: -3px;
}

header h1 em {
    color: red;
}

header img {
    position: absolute;
    width: 150px;
    right: 30px;
    top: 17px;
}

header p {
    text-transform: uppercase;
}

main {
    padding-top: 130px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "sidebar article"
        "sidebar image"
        "footercontent article2";
}

main aside:first-of-type {
    line-height: 1.9em;
    margin-left: 20px;
    border-right: 1px solid;
    font-size: 17px;
    font-weight: 300;
    padding-right: 20px;
}

main article:first-child {
    grid-area: article;
    margin-bottom: 10px;

}

main article:last-of-type {
    grid-area: article2;
}

main img {
    grid-area: image;
    margin-bottom: 0;
    width: 100%;
    margin-top: -70px
}

main aside:last-child {
    margin-top: -112px;
    grid-area: footercontent;
    background-color: #eee5e5;
    padding: 10px;
    padding-bottom: 30px;
}


main article,
main img {
    padding: 0% 8%;
}


main article:first-child h2 {
    color: red;
    font-size: 1.7em;

}

main article:last-of-type h2 {
    font-size: 3.5em;
    font-weight: 350;
    text-transform: lowercase;
    margin-top: 10px;
}

main article:last-of-type h2::first-letter {
    text-transform: uppercase;
}

main aside:last-child h2 {
    color: #bd2323;
    font-weight: 500;
    font-size: 1.3em;
}

main aside:last-child h2::before {
    content: "+";
    margin-right: 4px;
    font-size: 3em;
    vertical-align: sub;
    line-height: 0.8;
    color: black;
}

main aside:last-child ul {
    list-style: none;
    margin-top: 0;
    padding: 3px;

}

main aside:last-child li::before {
    content: "+";
    margin-right: 4px;
}

main aside:last-child li h3 {
    font-size: .8em;
    margin: 0;
    font-weight: 600;
    margin-top: 10px;
    display: inline;
}

main aside:last-child li p {
    margin-left: 17px;
    margin-bottom: 10px;
}

main article:last-of-type li p {
    padding-bottom: 50px;
}

main aside:first-of-type p::first-line,
main article:first-child p::first-line,
main article:last-of-type p::first-line {
    font-weight: 500;
}

main aside:first-of-type p {
    font-size: 1.1em;
    line-height: 1.5;
}

main article:last-of-type p mark {
    background-color: rgba(217, 214, 214, 0.541)
}

footer {
    margin-top: 20px;
}

footer {
    text-transform: lowercase;
    font-size: 1.2em;
}

footer em {
    margin-right: 10px;
    font-size: 1.1em;
    font-weight: 700;
}

footer abbr {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}

@media only screen and (max-width: 1076px) {
    #container {
        margin: 20px auto;
    }
}